body {
  color: #fff;
}

.home-section {
  width: 100%;
  height: 200vh;
  background-color: #0a1527;
  background-image: url('../img/earth-bg-2.jpg');
  // background-image: url('../img//earth-bg.jpg');
  background-size: 100% 200vh;
  overflow: hidden;
  .stars-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-block {
    width: 100%;
    height: 100vh;
    display: flex;
    .slug-box {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      .slug-item {
        transform: scale(.9);
        margin-bottom: 150px;
        margin-left: 30px;
        .slug-cls-2 {
          fill: #f4d371;
        }
        .slug-cls-1 {
          fill: #000;
        }
      }
    }
  }


  .block-1 {
    display: flex;
    justify-content: center;
    // align-items: center;
    .logo {
      margin-top: 200px;
      max-width: 600px;
    }
  }
  .block-2 {}

  .pantera {
    width: 660px;
    height: 100vh;
    margin: 0 0 0 auto;
    position: relative;
    .pantera-svg-item {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
      transform: scale(.8) translateX(105px);
      position: relative;
    }
    .puzzle-box {
      width: 100%;
      height: 55%;
      transform: scale(.8) translateX(85px) translateY(105px);
      position: absolute;
      top: 45%;
      left: 0;
      .puzzle-item {
        width: 105px;
        height: 120px;
        margin-bottom: 0;
        display: none;
        position: absolute;
        &.show {
          display: inline-block;
        }
        img {
          width: 100%;
        }
        &.item-1 {
          top: 0;
          right: 60px;
        }
        &.item-2 {
          top: 120px;
          right: -20px;
          img {
            transform: rotate(10deg);
          }
        }
        &.item-3 {
          top: 200px;
          right: 90px;
          img {
            transform: rotate(45deg);
          }
        }
        &.item-4 {
          top: 230px;
          right: 170px;
          img {
            transform: scale(.8);
          }
        }
        &.item-5 {
          top: 290px;
          right: 120px;
          img {
            transform: rotate(-30deg);
          }
        }
        &.item-6 {
          bottom: -30px;
          right: 220px;
          img {
            transform: rotate(50deg);
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: 100vh;
    background-image: url('../img/earth-bg-2-mobile.jpg');
    background-size: 100% 100vh;
  }
}

.pantera-svg {
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
  /* fill: #F4D371; */
  fill-rule: nonzero;
}

.pantera-svg .pantera-g polygon,
.pantera-svg .pantera-g path {
  // fill: #F4D371;
  stroke: #F4D371;
  stroke-width: 1;
  fill: transparent;
  stroke-dasharray: 80;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards, fillcolor 1s 2s linear forwards;
}
.pantera-svg.start_animate {
  // animation: dash 4s linear forwards, fillcolor 1s 2s linear forwards;
  // animation: dash 4s linear infinite, fillcolor 1s 2s linear forwards;
}
.pantera-svg .pantera-eye {
  fill: #F4D371;
}

.star-item {
  width: 5px;
  height: 6px;

  background-color: #DCF7FF;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 15px 5px rgba(240, 253, 255, .5);

  top: 100px;
  left: 100px;
}


.stars-box {
  .star {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: all .3s;
    &.show {
      opacity: .8;
      transform: scale(1);
    }
    &.circle {
      border-radius: 50%;
      background: rgb(173,209,255);
      // opacity: 0.8;
      transform: scale(.5);
      // animation: shadowToggle 3s infinite;
    }
    &.star-1 {
      // background: radial-gradient(circle, rgba(173,209,255,1) 0%, rgba(255,255,255,0.5) 11%, rgba(173,209,255,0.18) 20%, rgba(173,209,255,0) 27%);
      background: radial-gradient(circle,rgba(173,209,255,1) 0%, rgba(173,173,173,1) 11%, rgba(173,209,255, .8) 20%, rgba(173,209,255,0) 27%);
    }
    &.star-2 {
      background: radial-gradient(circle,rgba(173,209,255,1) 0%, rgba(173,173,173,1) 11%, rgba(173,209,255, .8) 20%, rgba(173,209,255,0) 27%);
    }
    &.star-3 {
      svg {
        .start-3-cicle {
          mix-blend-mode: lighten;
          fill: url(#Degradado_sin_nombre_111);
        }
      }
    }
    &.star-4 {
      svg {
        .start-3-cicle {
          opacity: 0.4;
          mix-blend-mode: lighten;
          fill: url(#Degradado_sin_nombre_111);
        }
      }
    }
    svg {
      max-width: 10px;
    }
  }
}


.eye-box {
  display: none;
}
.pantera-star-box {
  width: 77%;
  height: 87%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 75;
  opacity: 0;
  transition: opacity .3s;
  &.active {
    opacity: 1;
    .pantera-star {
      animation: bounceIn 2s,shadowToggleParth 4s infinite;
    }
  }
}
.pantera-star {
  width: 70px;
  height: 83px;
  position: absolute;
  &.star-1 {
    left: 234px;
    top: 58px;
  }
  &.star-2 {
    width: 100px;
    height: 100px;
    left: 300px;
    top: -40px;
  }
  &.star-3 {
    width: 100px;
    height: 100px;
    left: 302px;
    top: 150px;
  }
  &.star-4 {
    width: 140px;
    height: 125px;
    left: 72px;
    top: 323px;
  }
  &.star-5 {
    width: 70px;
    height: 60px;
    left: 200px;
    top: 435px;
  }
  &.star-6 {
    width: 80px;
    height: 80px;
    left: 300px;
    top: 455px;
  }
  &.star-7 {
    width: 80px;
    height: 80px;
    left: 350px;
    bottom: 12px;
  }
}

@keyframes dash {
  to {
      stroke-dashoffset: 0;
  }
}

@keyframes fillcolor {
  to {
      fill: #F4D371;
  }
}

@keyframes shadowToggle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shadowToggleParth {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}